*,
*::after,
*::before {
    box-sizing: border-box;
}
body {
    font-family: 'Noto Sans', sans-serif;
    font-size: 14px;
    line-height: 19px;
    font-weight: 400;
    color: #303030;
}
a {
    /* брать значение у родителя */
    color: inherit;
    text-decoration: none;
}
ul {
    list-style: none;
}
.container {
    max-width: 1220px;
    padding: 0 10px;
    margin: 0 auto;
}
.title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    color: #868585;
    margin-bottom: 60px;
}
.header {
    background-image: url(../images/bg.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 70px 10px 38px;
    margin-bottom: 150px;
}
.header__subtitle {
    font-size: 18px;
    line-height: 25px;
    font-weight: 400;
    margin-top: auto;
}
.header__title {
    font-weight: 700;
    line-height: 87px;
    font-size: 64px;
}
.header__title span {
    display: block;
    font-size: 42px;
    line-height: 57px;
}
.header__button {
    margin-top: 50px;
    margin-bottom: auto;
    align-self: center;
}
.button__path {
    transition: fill .5s;
}
.button:hover .button__path {
    fill: #A9A32A;
}
.button__text {
    font-size: 18px;
    line-height: 25px;
    display: inline-block;
    /* остается строчным, но принимает блочные свойства */
    transform: translateY(-17px);
    margin-left: -57px;

}
.social {
    display: flex;
    justify-content: center;
    align-items: center;
}
.social__link {
    padding: 0 10px;
}

/* ---service--- */
.service {
    margin-bottom: 150px;
}
.service__inner {
    display: flex;
}
.service__content {
    flex-basis: 510px;
    margin-right: 90px;
}
.service__box {
    margin-bottom: 50px;
}
.service__box-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 15px;
}
.service__img {
    object-fit: cover;
}



@media (max-width: 1200px) {
    .info__inner {
        flex-wrap: wrap-reverse;
        /* меняет последовательность блоков */
    }
   
    .info__content {
        flex-basis: 100%;
    }
    .info__content-img {
        display: none;
    }
    .info__box {
        flex-basis: 100%;
        margin-right: 0;
        display: flex;
    }
    .info__list {
        align-self: start;
        margin-left: 40px;
    }
    .info-tabs__items {
        margin-bottom: 40px;
    }
}
/* просмотр 1024px */
@media (max-width: 1024px) {
    .service__inner {
        flex-wrap: wrap;
    }
    .service__content {
        flex-basis: 100%;
        margin-right: 0;
    }
    .service__img {
        width: 100%;
        height: 400px;
    }
}
@media (max-width: 826px) {
    .info__box {
        display: block;
    }
    .info-tabs__items {
        margin-bottom: 0;
    }
    .info__list {
        margin-left: 0;
    }
    
}
/* 768px размер при кот.нужны изменения */
/* как только экран станет меньше 768px,то вносятся изменения */
@media (max-width: 768px) {
    .header__title {
        line-height: 56px;
        font-size: 48px;
    }
    .header__title span {
        font-size: 32px;
        line-height: 40px;
    }
}
@media (max-width: 640px) {
    .header,
    .service,
    .info,
    .blockquote,
    .clients,
    .step,
    .footer__top {
        margin-bottom: 75px;
    }
    .header__title span {
        font-size: 32px;
        line-height: 40px;
    }
}
@media (max-width: 540px) {
    .header__title {
        line-height: 38px;
        font-size: 32px;
    }
    .header__title span {
        font-size: 22px;
        line-height: 28px;
    }
    .header__subtitle {
        font-size: 16px;
        line-height: 22px;
    }
    .info-slider {
        max-width: 100%;
    }
}
/* на всех мониторах меньше 375px-следующие изменения */
/* просмотр на 320px */
@media (max-width: 375px) {
    .button__text {
        margin-left: -76px;
    }
    .title {
        margin-bottom: 40px;
    }
    .service__box {
        margin-bottom: 30px;
    }
}






